<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jadwal Kuliah
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Senin</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Praktikum Pemrograman Geospasial : Perangkat Bergerak Lanjut</h1>
            <p>Lab SIG DTK UGM</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Metode Penelitian</h1>
            <p>Hall DTK</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Selasa</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Pendidikan Pancasila</h1>
            <p>R.207 Gedung Filsafat C</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Pendidikan Agama Islam</h1>
            <p>R.207 Gedung Filsafat C</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Rabu</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Ide Kreatif dan Kewirausahaan</h1>
            <p>Hall DTK</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Praktikum Sains Data Geospasial Lanjut</h1>
            <p>Lab SIG DTK UGM</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Kamis</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Pendidikan Kewarganegaraan</h1>
            <p>R.207 Gedung Filsafat C</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Praktikum APSIG Untuk Sumber Daya Air</h1>
            <p>LAB PJ DTK SV UGM</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Jumat</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Praktikum APSIG Untuk Pantai, Pesisir, dan Kelautan</h1>
            <p>Lab PJ DTK SV UGM</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h1>Bahasa Indonesia</h1>
            <p>Soegondo R.209</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
