<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Marvel's Movie Lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>Iron Man (2008)</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>captain America : The First Avenger (2011)</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Iron Man 2 (2010)</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Thor (2011) </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Avengers (2012)</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Iron Man 3 (2013)</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Captain America : The Winter Soldier (2014) </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Avengers : Age of Ultron (2015) </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Spider Man : Homecoming </ion-label>
  </ion-item>
</ion-list>
</ion-content>
